<section id="notice">
    <p>
      <strong>Title:</strong>
      <%= @game.title %>

      <strong>Players:</strong>
      <%= @game.numPlayers %>

      <strong>Board Size:</strong>
      <%= @game.size %>
    </p>

</section>


<canvas id="board"><h1 style="color:red; font-weight:bold;">Your browser does not support the <code>canvas</code> element!</h1></canvas>
    <footer id="bottomBar">
    <button id="roll" onclick="roll()">Roll The Dice</button>
    <%= link_to 'Back', games_path, :id=>'return'%>
    </footer>
